*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fcfcfc;
}

button {
    height: 100px;
    width: 320px;
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    border-radius: 10px;
    outline: none;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border: none;
    overflow: hidden;
}

button:before{
    content: "радужный беб";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 700;
    padding: 32px 0;
    color:#fcfcfc;
    background-color: rgba(299, 299, 299, 0.001);
    backdrop-filter: blur(25px);
    cursor: pointer;
}

button:after{
    content: "";
    height:500px;
    width:500px;
    position: absolute;
    left: -90px;
    top: -200px;
    z-index: -1;
    background-image: conic-gradient(
        #cc1212cb,
        #eb6404cb,
        #b5ce35cb,
        #3ace35cb,
        #1ccee9cb,
        #2f01d3,
        #6a0267

    );
}
button:hover:after{
    animation: spin 3s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}